<%- include('partials/header') %>
    
    <h1 class="box purple-box second-title"><%=listTitle%></h1>

    <div class="box">
        <%tasksList.forEach(task => { %> 
            <form action="/tasks/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="check" value="<%=task._id%>" onchange="this.form.submit()">
                    <p> <%= task.name %> </p>
                </div>
            </form>
        <%}) %>  

        <form class="item" action="/tasks" method="POST">
            <input type="text" id="newTask" name="newTask" required minlength="3" maxlength="30" placeholder="nouvelle tâche" autocomplete="off">
            <button type="submit" id="submit" name="submit">+</button>
        </form>   
    </div>   

    <div class="centered">
        <!-- action '/logout?_method=DELETE' -> from method-override package -->
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-lg btn-warning">Log out</button>
        </form>
    </div>

<%- include("partials/footer") -%>
